<p-menubar>
    <ng-template pTemplate="start">
        <div class="header" routerLink="/">
            <img src="../../../assets/logo.png">
            <div>Dot Auth</div>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="blobs">
            <label for="address">{{organization}}</label>
            <div *ngIf="!connected" pTooltip="Wallet Not Connected..." class="blob red"></div>
            <div *ngIf="connected" pTooltip="Wallet Connected..." class="blob green"></div>
        </div>
    </ng-template>
</p-menubar>

<router-outlet></router-outlet>

<div class="spinner-container">
    <div class="spinner-border">
        <span class="spinner" id="spinner"></span>
    </div>
</div>

<p-confirmDialog #cd [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [style]="{width: '30vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton class="p-button-success" icon="pi pi-check" iconPos="right" label="Confirm" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-toast position="bottom-left"></p-toast>