.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--surface-b), var(--primary-color)) 1;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid;
    border-image: linear-gradient(to right, var(--surface-b), var(--primary-color)) 1;
    padding-bottom: 15px;
}

.navbar .navbar-title {
    font-size: 1.55rem;
    font-weight: 700;
}

.navbar .header {
    display: flex;
    gap: 5px;
}

.navbar img {
    width: 2.2rem;
    height: 2.2rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--surface-b);
}

p-card {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.row img {
    width: 15vw;
    height: 15vw;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--surface-b);
}


.card {
    width: 100%;
    padding: 10px;
}

.text-800 {
    font-size: 2.5rem;
    font-weight: 700;
    overflow-wrap: break-word;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.start {
    display: flex;
    border-bottom: 1px solid var(--surface-c);
    padding-left: 15px;
}

.center {
    display: flex;
    justify-content: center;
}

.end {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.content img {
    height: 20vh;
}

.mb-20 {
    margin-bottom: 0;
}

.bubble {
    display: flex;
    justify-content: space-between;
    background: var(--purple-50);
    box-shadow: 1px 1px 2px 0 var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: .5s;
}

.bubble i {
    font-size: 2rem;
}

.bubble:hover {
    background: var(--purple-100);
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

@media only screen and (min-width: 480px) {
    .footer {
        flex-direction: row;
    }
}