<div p class="container ">
    <div class="navbar">
        <div class="header">
            <img src="../../../assets/logo.png">
            <div class="navbar-title">Dot Auth</div>
        </div>
        <button pButton type="button" icon="pi pi-sign-in" iconPos="right" label="Launch App" routerLink="./access"></button>
    </div>

    <div class="row">
        <div class="card text-800">
            Identity And Access Management Made Easier.
        </div>
        <img src="../../../assets/logo.png">
    </div>
</div>