<div p class="container ">
    <div class="navbar">
        <div class="header">
            <img src="../../../assets/logo.png">
            <div class="navbar-title">Dot Auth</div>
        </div>
        <button pButton type="button" class="p-button-raised p-button-outlined" icon="pi pi-sign-in" iconPos="right" label="Manane Access" routerLink="./access"></button>
    </div>

    <div class="row">
        <div class="card text-800">
            Identity And Access Management Made Easier.
        </div>
        <img src="../../../assets/logo.png">
    </div>

    <div class="bubble">
        <i class="pi pi-building"></i>
        <div>Register Organization.</div>
        <div></div>
    </div>

    <div class="bubble">
        <i class="pi pi-qrcode"></i>
        <div>Create Access Rules.</div>
        <div></div>
    </div>

    <div class="bubble">
        <i class="pi pi-share-alt"></i>
        <div>Assign Access Rules To Users.</div>
        <div></div>
    </div>

    <div class="end">
        <button pButton class="p-button-raised" type="button" icon="pi pi-sign-in" iconPos="right" label="Manage Access" routerLink="./access"></button>
    </div>

    <div class="footer">
        <div class="row center" style="margin-top: 10px;">
            <i class="pi pi-github" style="margin-top: 4px;"></i>
            <a href="https://github.com/mothupir/DotAuth">@mothupir</a>
        </div>
        <div class="row center" style="margin-top: 10px;">
            <i class="pi pi-linkedin" style="margin-top: 4px;"></i>
            <a href="https://www.linkedin.com/in/mothupi-ramogayana-68849480/">@mothupir</a>
        </div>
        <div class="row center" style="margin-top: 10px;">
            <i class="pi pi-discord" style="margin-top: 4px;"></i>
            <div>@mothupir#2900</div>
        </div>
    </div>
</div>