@import url('node_modules/primeicons/primeicons.css');
@import url('node_modules/font-awesome/css/font-awesome.min.css');
@import url('../node_modules/primeng/resources/themes/vela-purple/theme.css');
@import url('node_modules/primeng/resources/primeng.min.css');

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--surface-d); 
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
}

hr {
  border: 1px solid var(--surface-d);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.title {
  font-weight: 700;
  font-size: 1.4rem;
}

.row {
  display: flex;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.content-center {
  justify-content: center;
  gap: 10px;
}

.spinner {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000000;
  width: 50px;
  height: 50px;
  margin: -20px 0 0 -20px;
  border: 5px solid var(--surface-d);
  border-radius: 50%;
  border-top: 5px solid var(--primary-color);
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blobs {
    display: flex;
}

.blob {
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
}

.blob.red {
    background: red;
    box-shadow: 0 0 0 0 red;
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.blob.green {
    background: rgba(0, 255, 0, 1);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 1);
    animation: pulse-green 2s infinite;
  }
  
  @keyframes pulse-green {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}