.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 5px 5px 0;
    overflow: auto;
    width: 100%;
    max-height: 70vh;
}

.level {
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 var(--primary-color);
    padding: 0 10px;
    transition: 0.8s;
}

.level:hover {
    background-color: var(--surface-c);
}

.level:active {
    background-color: var(--surface-d);
}

.label {
    margin-top: 7px;
    font-weight: 600;
}

.label-disabled {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--surface-d);
    margin: 20px 0;
    text-align: center;
}

.organization {
    width: 350px;
}

.accesslevel {
    width: 250px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.w-100 {
    width: 100%;
}

.gap-10 {
    gap: 10px;
}

.access-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-user {
    display: flex;
    flex-direction: column;
    gap: 10;
}

@media only screen and (min-width: 835px) {
    .access-header {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 512px) {
    .add-user {
        flex-direction: row;
        justify-content: space-between;
    }
}