<div class="container" *ngIf="!organizationRegistered">
    <div class="row between">
        <div class="title">Manage Organization</div>
    </div>

    <p-card>
        <div class="row evenly">
            <div class="label-disabled">Organization Not Found!</div>
        </div>

        <div class="row content-center">
            <span class="p-input-icon-left">
                <i class="pi pi-briefcase"></i>
                <input type="text" class="organization" pInputText [(ngModel)]="organization" placeholder="Organization">         
            </span>
        </div>

        <div class="row evenly mt-20">
            <button pButton (click)="createOrganization()" label="Register Organization" icon="pi pi-pencil" iconPos="right"[disabled]="!(organization.length > 3)"></button>
        </div>
    </p-card>
</div>

<div class="container" *ngIf="organizationRegistered">
    <div class="row between">
        <div class="title">Manage Access</div>
    </div>

    <p-card>
        <div class="row between">
            <div class="title">Access Levels</div>

            <div>
                <div class="row content-center">
                    <span class="p-input-icon-left">
                        <i class="pi pi-unlock"></i>
                        <input type="text" class="accesslevel" pInputText [(ngModel)]="accessLevel" placeholder="New Access Level">         
                    </span>

                    <button pButton class="p-button-outlined" label="Add Access Level" icon="pi pi-plus" iconPos="right" [disabled]="accessLevel.length < 3"></button>
                </div>
            </div>
        </div>

        <hr>

        <div class="content" *ngIf="accessLevels.length == 0">
            <div class="row evenly">
                <div class="label-disabled">No Access Levels Added Yet.</div>
            </div>

            <div class="row content-center">
                <span class="p-input-icon-left">
                    <i class="pi pi-unlock"></i>
                    <input type="text" class="organization" pInputText [(ngModel)]="accessLevel" placeholder="New Access Level">         
                </span>
            </div>

            <div class="row evenly mt-20">
                <button pButton (click)="addAccessLevel()" label="Add Access Level" icon="pi pi-plus" iconPos="right"[disabled]="accessLevel.length < 3"></button>
            </div>
        </div>

        <div class="content"*ngIf="accessLevels.length > 0">
            <div class="row between level" *ngFor="let level of accessLevels">
                <div class="label">{{level}}</div>

                <div>
                    <button pButton (click)="removeAccessLevel(level)" class="p-button-text p-button-rounded p-button-warning" icon="pi pi-trash" iconPos="right" pTooltip="remove access level" tooltipPosition="bottom"></button>
                    <button pButton (click)="getUsers(level)" class="p-button-text p-button-rounded p-button-info" icon="pi pi-users" iconPos="right" pTooltip="manage users" tooltipPosition="bottom"></button>
                </div>
            </div>
        </div>
    </p-card>
</div>

<p-dialog [breakpoints]="{'960px': '80vw', '640px': '95vw'}" [(visible)]="showUsersDialog" [maximizable]="true" [closable]="false" [modal]="true" [draggable]="false" [style]="{width:'40vw'}">
    <ng-template pTemplate="header">
        <div class="title">Manage Users</div>
    </ng-template>

    <div class="row between">
        <div class="title">User</div>

        <div class="row content-center">
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" pInputText [(ngModel)]="userName" placeholder="Name">         
            </span>

            <span class="p-input-icon-left">
                <i class="pi pi-hashtag"></i>
                <input type="text" pInputText [(ngModel)]="userAddress" placeholder="Address">         
            </span>

            <button pButton class="p-button-outlined" pTooltip="Add User" icon="pi pi-plus" iconPos="right" [disabled]="userName.length < 3 || userAddress.length < 3"></button>
        </div>
    </div>

    <hr>

    <div class="content" *ngIf="users.length == 0">
        <div class="row evenly">
            <div class="label-disabled">No Users Added Yet.</div>
        </div>

        <div class="row content-center">
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input type="text" pInputText [(ngModel)]="userName" placeholder="Name">         
            </span>
        </div>

        <div class="row content-center">
            <span class="p-input-icon-left">
                <i class="pi pi-hashtag"></i>
                <input type="text" pInputText [(ngModel)]="userAddress" placeholder="Address">         
            </span>
        </div>

        <div class="row evenly mt-20">
            <button pButton (click)="addUser()" label="Add Access Level" icon="pi pi-plus" iconPos="right"[disabled]="userAddress.length < 3"></button>
        </div>
    </div>
    
    <div class="content"*ngIf="users.length > 0">
        <div class="row between level" *ngFor="let user of users">
            <div class="label" [pTooltip]="user.address" tooltipPosition="bottom">{{ user.name }}</div>
            
            <div>
                <button pButton (click)="removeUser(user.address, user.name)" class="p-button-text p-button-rounded p-button-warning" icon="pi pi-trash" iconPos="right" pTooltip="remove access level" tooltipPosition="bottom"></button>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton (click)="toggleUserDialog()" label="Close" class="p-button-secondary" icon="pi pi-times" iconPos="right"></button>
    </ng-template>
</p-dialog>