.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 5px 5px 0;
    overflow: auto;
    width: 100%;
    max-height: 70vh;
}

.level {
    border-radius: 5px;
    border: 1px solid var(--surface-d);
    padding: 0 10px;
}

.level:hover {
    background-color: var(--surface-c);
}

.level:active {
    background-color: var(--surface-d);
}

.label {
    margin-top: 7px;
    font-weight: 600;
}

.label-disabled {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--surface-d);
    margin-bottom: 20px;
}

.organization {
    width: 350px;
}

.accesslevel {
    width: 250px;
}

.mt-20 {
    margin-top: 20px;
}

.w-100 {
    width: 100%;
}